[Desktop Entry]
Encoding=UTF-8
Name=Myce
Comment=Myce P2P Cryptocurrency
Comment[fr]=Myce, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Myce, eşten eşe kriptografik sanal para birimi
Exec=myce-qt %u
Terminal=false
Type=Application
Icon=myce128
MimeType=x-scheme-handler/myce;
Categories=Office;Finance;
