[Desktop Entry]
Encoding=UTF-8
Name=Electra
Comment=Electra P2P Cryptocurrency
Comment[fr]=Electra, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Electra, eşten eşe kriptografik sanal para birimi
Exec=electra-qt %u
Terminal=false
Type=Application
Icon=electra128
MimeType=x-scheme-handler/electra;
Categories=Office;Finance;
