[Desktop Entry]
Version=1.2.0
Type=Application
Terminal=false
Name=Electra Wallet
Exec=/usr/bin/Electra-qt
Comment=Electra Wallet Application
StartupNotify=false
Encoding=UTF-8
Categories=Qt;
